<h1>Контакты c нами</h1>

<h2>Отправьте нам сообщение через форму ниже</h2>

	<label>Email</label>
	<form action="/contacts" method="POST">
		<div class="form-group">
			<input name="email" type="text" class="form-control" placeholder="Text input">
		</div>
	<label>Сообщение</label>
		<div class="form-group">
			<textarea name="textarea" type="text" class="form-control" rows="3"></textarea>
		</div>

	  <button type="submit" class="btn btn-primary">Отправить сообщение</button>

	</form>